.btn{
  margin-top: 1rem;
  background-color: red;
  color: rgb(10, 10, 10);
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

