.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: black; */
  }
  
  .result-item {
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .company, .type, .number, .start, .destination, .price {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  