.Main {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
h6 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.gender{
  width: 15rem;
  height: 2.3rem;
  display: flex;
  border-radius: 3px;
  /* border: 2px solid black; */
  margin-top: 1rem;
}



@media (min-width: 768px) {
  .Main {
    width: 50%;
  }
}