.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background: grey;
}

h1 {
  margin-bottom: 2rem;
  background: yellow;
}

input[type="text"],
input[type="password"],
select,
label {
  margin-bottom: 1rem;
}

span {
  margin-bottom: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .Main {
    width: 50%;
    margin: auto;
  }
}
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="password"],
select,
label {
  margin-bottom: 1rem;
}

span {
  margin-bottom: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .Main {
    width: 50%;
    margin: auto;
  }
}
